[submodule "VulkanRendering"]
	path = VulkanRendering
	url = https://github.com/TheBossBaby47/VulkanRendering
[submodule "NCLCoreClasses"]
	path = NCLCoreClasses
	url = https://github.com/TheBossBaby47/NCLCoreClasses
[submodule "GLTFLoader"]
	path = GLTFLoader
	url = https://github.com/TheBossBaby47/GLTFLoader