/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/Common.dir/Debug/Common.lib.recipe
/Common.dir/Debug/Common.tlog/CL.command.1.tlog
/Common.dir/Debug/Common.tlog/CL.read.1.tlog
/Common.dir/Debug/Common.tlog/CL.write.1.tlog
/Common.dir/Debug/Common.tlog/Common.lastbuildstate
/Common.dir/Debug/Common.tlog/CustomBuild.command.1.tlog
/Common.dir/Debug/Common.tlog/CustomBuild.read.1.tlog
/Common.dir/Debug/Common.tlog/CustomBuild.write.1.tlog
/Common.dir/Debug/Common.tlog/Lib-link.read.1.tlog
/Common.dir/Debug/Common.tlog/Lib-link.write.1.tlog
/Common.dir/Debug/Common.tlog/Lib.command.1.tlog
/Common.dir/Debug/Common.vcxproj.FileListAbsolute.txt
/Common.vcxproj
/Common.vcxproj.filters
/cmake_install.cmake
/CMakeFiles/NCLCoreClasses.dir/Debug/*.hxx
/CMakeFiles/NCLCoreClasses.dir/MinSizeRel/*.hxx
/CMakeFiles/NCLCoreClasses.dir/RelWithDebInfo/*.hxx
/CMakeFiles/NCLCoreClasses.dir/Release/*.hxx
/CMakeFiles/NCLCoreClasses.dir/*.cxx
/NCLCoreClasses.dir/Debug/*.recipe
/NCLCoreClasses.dir/Debug/NCLCoreClasses.tlog/*.tlog
/NCLCoreClasses.dir/Debug/NCLCoreClasses.tlog/*.lastbuildstate
/NCLCoreClasses.dir/Debug/*.txt
/NCLCoreClasses.dir/Release/*.recipe
/NCLCoreClasses.dir/Release/NCLCoreClasses.tlog/*.tlog
/NCLCoreClasses.dir/Release/NCLCoreClasses.tlog/*.lastbuildstate
/NCLCoreClasses.dir/Release/*.txt
/*.vcxproj
/*.filters
